name: ecommerce

on:
  push:
    branches: [main]

env:
  NODE_VERSION: 24
  NPM_CACHE: npm

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
          cache: ${{env.NPM_CACHE}}
      - name: Install dependencies
        run: npm ci
      - name: run lint
        run: npm run lint:check

  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODE_VERSION}}
          cache: ${{env.NPM_CACHE}}
      - name: Install dependencies
        run: npm ci
      - name: Run test
        run: npm run test
